.SetMargin {
  margin: 10px;
}
.SetMargin1 {
  margin: 10px 10px;
  color: rgb(221, 23, 73);
  font-weight: 700;
}
.SetMargin2 {
  margin: 5px 5px;
  color: white;
  background-color: rgba(13, 44, 218, 0.712);
  width: 60px;
  height: 20px;
  text-decoration: none;
  border: none;
}
